{% extends 'base.html.twig' %}

{% block body %}
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	
		<!-- NAVIGATION -->
		{% include "nav/nav.html.twig" %}

		<!-- HEADER -->
		<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(../images/Img_accueil_1.png);">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>Mon compte</h1>
								<h2><a href="#" target="_blank"></a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</header>
	
		<!-- DOCUMENT VIEW -->
		{% if app.user %}
		<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
			<h2>Mon compte</h2>
		</div>
        {% if document in documents %}
          {{dump(documents)}}
        {% endif %}
   
		<div class="gtco-features">
			<div class="gtco-container">
				<div class="row" id="listDocument">
            		{# {{ include ('', {  }) }} #}
				</div>
			</div>	
			<div class="text-center">
				<a href="/" class="btn btn-primary">Retour à l'accueil</a>
			</div>
    	</div>
		{% else %}
	
		{% endif %}
		
	</div>

	<!-- FOOTER -->
	{% include "footer/footer.html.twig" %}

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

{% endblock %}

