{% extends 'base.html.twig' %}

{% block body %}
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	
		<!-- NAVIGATION -->
		{% include "nav/nav.html.twig" %}

		<!-- HEADER -->
		{% include "header/header.html.twig" %}

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

{% endblock %}
