{% extends 'base.html.twig' %}

{% block body %}
		
	<div class="gtco-loader"></div>
	
	<div id="page">
	
		<!-- NAVIGATION -->
		{% include "nav/nav.html.twig" %}

		<!-- HEADER -->
		<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(images/Img_accueil_1.png);">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1>Marketdigidoc</h1>
								<h2>Ressources documentaires <a href="#" target="_blank"></a></h2>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</header>
	
		<!-- DOCUMENT VIEW -->
		<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
			<h2>Tous les documents</h2>
		</div>

		{% if app.user %}
		<div class="gtco-features">
			<div class="gtco-container">
				<div class="row" id="listDocument">
            		{{ include ('document/list.html.twig', { documents: documents }) }}
				</div>
			</div>	
			<div class="text-center">
			<button class="btn btn-info" id="load-more">Voir plus</button>
		</div>
    	</div>
		{% else %}
		<div id="gtco-features">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<p><a href="{{ path('security_login') }}" class="btn btn-primary">Connectez-vous</a></p>
					</div>
				</div>	
			</div>
		</div>
		{% endif %}
		
	</div>

	<!-- FOOTER -->
	{% include "footer/footer.html.twig" %}

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="../js/load.more.js"></script>
{% endblock %}

